.wrapper-header .triangles{
    display: flex;
    margin-top: -100px;
    color: #fff;
    z-index: 5;
    background: #f8f8fb;
  &__item{
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
  }
}

.wrapper-skills .triangles{
    display: flex;
    margin-bottom: -100px;
    color: #fff;
    z-index: 5;
    &__item{
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
    transform: rotate(180deg);
    }
  }