section.header-hello
  .header-nav
    h1.logo ЕР
    +nav
    +social
  .header-content
    p.header__info Личный сайт<br>веб-разработчика
    h1.header__title Евгений<br>Родин
  a.scroll-pin 
    p.scroll-pin__p Скролл
    +icon('scroll', 'scroll-pin__svg')