
section.my-responses
  .nav-slider-responses
    h3.nav-slider-responses-h3 Что обо мне говорят
    .toggle-arrows
      a.toggle-arrow.toggle-arrow__left(href="")
        +icon('arrow-down','arrow-left')
      a.toggle-arrow.toggle-arrow__right(href="")
        +icon('arrow-down','arrow-right')
  .move-slider
    .slider-responses
      .slider-responses-block
        +icon('quote', 'quote')
        .slider-respons
          p.slider-respons-p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
          .mentor
            .mentor-photo
              +image('content/mentor1.png', 'mentor1')
            .mentor-name
              h3.mentor-name-h3 Ковальчук Дмитрий
              p.mentor-name-p Основатель Loftschool
      .slider-responses-block
        +icon('quote', 'quote')
        .slider-respons
          p.slider-respons-p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
          .mentor
            .mentor-photo
              +image('content/mentor2.png', 'mentor2')
            .mentor-name
              h3.mentor-name-h3 Владимир Сабанцев
              p.mentor-name-p Преподаватель
      .slider-responses-block
        +icon('quote', 'quote')
        .slider-respons
          p.slider-respons-p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
          .mentor
            .mentor-photo
              +image('content/mentor1.png', 'mentor1')
            .mentor-name
              h3.mentor-name-h3 Ковальчук Дмитрий
              p.mentor-name-p Основатель Loftschool
      .slider-responses-block
        +icon('quote', 'quote')
        .slider-respons
          p.slider-respons-p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
          .mentor
            .mentor-photo
              +image('content/mentor2.png', 'mentor2')
            .mentor-name
              h3.mentor-name-h3 Владимир Сабанцев
              p.mentor-name-p Преподаватель