.hero__block
    .hero__block__bg 
    +image('content/parallax/Sky.png','par-eff sky-par')
    +image('content/parallax/Mountain.png','par-eff mountain-par')
    +image('content/parallax/Mountain1.png','par-eff mountain1-par')
    +image('content/parallax/Man.png','par-eff man-par')
    +image('content/parallax/White.png','par-eff white-par')
    .hero__block__ballum
    +image('content/parallax/Cloud.png','par-eff cloud-par')
    +image('content/parallax/Baloon.png','par-eff baloon-par')